.collapsible-href {
    display: inline-block !important;
    width: 18% !important;
    float: left !important;
}

.non-collapsible-href {
    display: inline-block !important;
    width: 82% !important;
    float: left !important;
}

.non-collapsible-href-full {

}