.local-red{
  border-left:5px solid #ce4844;
  border-radius: 3px;
}
.local-green{
  border-left:5px solid green;
  border-radius: 3px;
}
.local-yellow{
  border-left:5px solid #ffea00;
  border-radius: 3px;
}
.localfilter{
  background: #f2f2f2;
  padding: 15px;
}

.members{
  height:210px;
  overflow-y: auto;
  overflow-x:hidden;
}
.user-chat{
  width: 64px;
}
.user-chat p{
  text-align: center;
  font-size: 11px;
}
.user-chat a{
  text-decoration: none;
}
.useron{
  border-radius:0;
  font-size:10px;
  margin:-15px 0 0;
  opacity:0.75;
  position:absolute;
  width:64px;
  display: block;
}
.userof{
  border-radius:0;
  font-size:10px;
  margin:-15px 0 0;
  opacity:0.75;
  position:absolute;
  width:64px;
  display: block;
}

.angular-show-transition-2-ms.ng-hide-add.ng-hide-add-active,
.angular-show-transition-2-ms.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.angular-show-transition-2-ms.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.private-office h4{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  margin:7px;
}

.private-office h3{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  margin:7px;
}

.private-office-btn{
  background: #428bca;
  color: white;
  text-decoration: none;
}
.private-office-btn:hover{
  background: #337ab7;
  text-decoration: none !important;
}
.private-office-btn-a:hover{
  text-decoration: none !important;
}