<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Local this</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
<!--     <link href="css/footerst.css" rel="stylesheet"> -->
<!--     <link href="css/sidebarst.css" rel="stylesheet"> -->

<link rel="stylesheet" href="css/index.css">
<script src="js/index.js"></script>
    
  </head>

  <body>











<div class="l-container">
<div class="l-main">


<div class="b-page__first" style="height: auto;">

    <div class="b-page-inner">


<div class="b-bg-icons__left__back" ></div>
<div class="b-bg-icons__left__front"></div>
<div class="b-bg-icons__right__back"></div>
<div class="b-bg-icons__right__front"></div>




<header class="b-header">
<div class="b-header-slogan">
<div class="b-wave__left"></div>
<div class="b-wave__right"></div>
<img src="img/logo.png" style="width: 150px;">


<br>
Hello guest
<br>
Welcome to our service
</div>
<div class="b-header-dots"></div>
<div class="b-header-desc">Our service will help you and your team to quickly locate contact with each other , take time. Create projects to find them. Please become today</div>
<br>
<br>
<button class="btn btn-success" type="button">Login</button>
<button class="btn btn-info" type="button">Signup</button>
<img style="    left: 609px;
    position: absolute;
    top: 203px;" src="img/girl2.png">
    
    <img style="    left: -79px;
    position: absolute;
    top: 203px;" src="img/girl.png">

</header>

<div class="b-screenshot__front">
<div class="b-screenshot-shadow__middle"></div>
<div class="b-screenshot-img"></div>
<a class="b-screenshot-button" href="#">
</div>


    </div><!-- ends.b-page-inner -->




</div><!-- ends.b-page -->





</div><!-- ends.l-main -->

</div><!-- ends.main -->


<script src="https://promo.calendar.mail.ru/js/libs.min.js?2.2.2"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
  $("#menu-toggle").click(function(e) {
e.preventDefault();
$("#wrapper").toggleClass("active");
});
</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
