<div ng-if="(tasks == null) || (tasks.length == 0)" class="center-block vertical-center">
    <h3 class="text-info text-center">Tasks will be displayed here</h3>
</div>

<div style="min-height: 250px !important;">
    <table ng-if="(tasks) && (tasks.length > 0)" class="table" style="margin-bottom: 0;">
        <thead>
        <tr>
            <!----------------------------- ID ----------------------------->
            <th class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[0] }">ID</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" ng-init="orderByID = 2">
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[0] = 'id'; orderByID = 1;"
                           ng-class="{ 'btn-warning': orderByID == 1 }">Sort A-Z</a></li>
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[0] = '-id'; orderByID = 2;"
                           ng-class="{'btn-warning': orderByID == 2 }">Sort Z-A</a></li>
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[0] = null; orderByID = 0;">
                            Disable sort by this field
                        </a>
                    </li>
                </ul>
            </th>

            <th class="hidden-sm hidden-xs">
                <span class="btn">Type</span>
            </th>

            <!--------------------------- NAME ----------------------------->
            <th>
                <span class="btn" style="padding-left: 0; padding-right: 0;">Name</span>
            </th>

            <!------------------------- PRIORITY --------------------------->
            <th class="hidden-sm hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[1] }">Priority</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" ng-init="orderByPriority = 0">
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[1] = 'priority.label'; orderByPriority = 1;"
                           ng-class="{'btn-warning': orderByPriority == 1}">Sort A-Z</a></li>
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[1] = '-priority.label'; orderByPriority = 2;"
                           ng-class="{'btn-warning': orderByPriority == 2}">Sort Z-A</a></li>
                    <li>
                        <a style="cursor: pointer;" ng-click="tasksOrderBy[1] = null; orderByPriority = 0;">
                            Disable sort by this field
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.priority">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'priority', key, !val.checked, 'label');"
                           ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <!-------------------------- STATUS ---------------------------->
            <th class="hidden-sm hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[2] }">Status</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" role="menu" ng-init="orderByStatus = 0">
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[2] = 'status.label'; orderByStatus = 1;"
                           ng-class="{'btn-warning': orderByStatus == 1}">Sort A-Z</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[2] = '-status.label'; orderByStatus = 2;"
                           ng-class="{'btn-warning': orderByStatus == 2}">Sort Z-A</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[2] = null; orderByStatus = 0;">
                        Disable sort by this field</a></li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.status">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'status', key, !val.checked, 'label');"
                            ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <!------------------------- PROGRESS --------------------------->
            <th class="hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[3] }">Progress</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" role="menu" ng-init="orderByProgress = 0">
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[3] = 'progress'; orderByProgress = 1;"
                           ng-class="{'btn-warning': orderByProgress == 1}">Sort A-Z</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[3] = '-progress'; orderByProgress = 2;"
                           ng-class="{'btn-warning': orderByProgress == 2}">Sort Z-A</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[3] = null; orderByProgress = 0;">Disable sort by this field</a></li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.progress">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'progress', key, !val.checked);"
                            ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key + '%'"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <th class="hidden-sm hidden-xs">
                <span class="btn" style="padding-left: 0; padding-right: 0;">Estimated</span>
            </th>

            <!-------------------------- OWNER ----------------------------->
            <th class="hidden-sm hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[4] }">Owner</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" role="menu" ng-init="orderByOwner = 0">
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[4] = 'owner.username'; orderByOwner = 1;"
                           ng-class="{'btn-warning': orderByOwner == 1}">Sort A-Z</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[4] = '-owner.username'; orderByOwner = 2;"
                           ng-class="{'btn-warning': orderByOwner == 2}">Sort Z-A</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[4] = null; orderByOwner = 0;">Disable sort by this field</a></li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.owner">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'owner', key, !val.checked, 'username');"
                            ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <!------------------------ ASSIGNED --------------------------->
            <th class="hidden-sm hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[5] }">Assigned</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" role="menu" ng-init="orderByAssigned = 0">
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[5] = 'assigned.username'; orderByAssigned = 1;"
                           ng-class="{'btn-warning': orderByAssigned == 1}">Sort A-Z</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[5] = '-assigned.username'; orderByAssigned = 2;"
                           ng-class="{'btn-warning': orderByAssigned == 2}">Sort Z-A</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[5] = null; orderByAssigned = 0;">Disable sort by this field</a></li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.assigned">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'assigned', key, !val.checked, 'username');"
                            ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <!------------------------ SPRINT --------------------------->
            <th class="hidden-xs dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" style="padding-left: 0; padding-right: 0;">
                    <span ng-class="{ 'tasks-order-by-underline': tasksOrderBy[6] }">Sprint</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu noclose" ng-init="orderBySprint = 0" style="left:-85px !important;">
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[6] = 'sprint.name'; orderBySprint = 1;"
                           ng-class="{'btn-warning': orderBySprint == 1}">Sort A-Z</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[6] = '-sprint.name'; orderBySprint = 2;"
                           ng-class="{'btn-warning': orderBySprint == 2}">Sort Z-A</a></li>
                    <li><a style="cursor: pointer;" ng-click="tasksOrderBy[6] = null; orderBySprint = 0;">Disable sort by this field</a></li>
                    <li class="divider"></li>
                    <li style="padding: 3px 10px;">
                        <button type="button" ng-click="" class="btn-link">Select All</button>
                        <button type="button" ng-click="" class="btn-link">Clear All</button>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="(key, val) in filterFields.sprint">
                        <a style="cursor: pointer;" ng-click="filterByField(val.filtered, val.count, 'sprint', key, !val.checked, 'name');"
                            ng-style="{ 'text-decoration': (val.count > 0 || val.filtered ) ? 'none' : 'line-through' }">
                            <i class="fa" ng-class="{ 'fa-check-square-o': (val.checked && val.count > 0), 'fa-square-o': (!val.checked || val.count == 0) }"></i>
                            <span ng-bind="key"></span>
                        </a>
                    </li>
                </ul>
            </th>

            <th>
                <span class="btn" style="padding-left: 0; padding-right: 0;">Fun</span>
            </th>
        </tr>
        </thead>

        <tbody ng-repeat="task in tasks | orderBy: tasksOrderBy | filter: filterFunc | range: tablePages.from: tablePages.to"
               ng-init="parentTask = task;">
        <tr>

            <td style="font-size: 10px;">
            <span style="vertical-align: middle;">
                [[ task.id ]]
            </span>
            </td>

            <td class="hidden-sm hidden-xs">
                <span ng-if="task.type.label == 'task'" class="badge" style="background-color: #5cb85c; font-size: 10px;">[['t']]</span>
                <span ng-if="task.type.label == 'bug'" class="badge" style="background-color: #d9534f; font-size: 10px;">[['b']]</span>
                <span ng-if="task.type.label == 'improvement'" class="badge" style="background-color: #337ab7; font-size: 10px;">[['i']]</span>
            </td>

            <td>
                <a ng-show="task.subtasks.length > 0" ng-click="task.expand = !task.expand" style="text-decoration: none; cursor: pointer;">
                    <i ng-hide="task.expand" class="fa fa-plus"></i>
                    <i ng-show="task.expand" class="fa fa-minus"></i>
                </a>
                <a ng-href="[[ task.href ]]"
                   data-toggle="popover"
                   data-placement="top"
                   data-content="[[ task.description.substr(0, 250); ]]">
                    <span class="badge" style="background-color: blueviolet;" ng-if="task.newCommentsCount">[[task.newCommentsCount]]</span>
                    <span class="badge" style="background-color: cadetblue;" ng-if="(task.newSubCommentsCount) && (!task.expand)">[[task.newSubCommentsCount]]</span>
                    <span>[[ task.name ]]</span>
                </a>
            </td>
            <td class="hidden-sm hidden-xs">
                <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                    [[ task.priority.label ]]
                </div>
            </td>
            <td class="hidden-xs">

                <select ng-if="(task.subtasks.length == 0) && (task.showStatusLabel)" ng-blur="changeStatus(task); task.showStatusLabel = false;" ng-model="task.status.selected" style="border: none;font-weight: bold;">
                    <option ng-repeat="status in taskStatuses"
                            style="color: [[ status.color ]]" value="[[ status.id ]]" ng-selected="status.id == task.status.id">
                        [[status.label]]
                    </option>
                </select>

                <div ng-class="{'classHoverStatus': NeedClassHover(task)}" ng-if="!task.showStatusLabel" ng-click="task.showStatusLabel = clickOnStatus(task.showStatusLabel)" class="label label-default" style="background-color: [[ task.status.color ]];">
                    [[ task.status.label ]]
                </div>
            </td>
            <td class="hidden-xs">[[ task.progress ]]%</td>
            <td class="hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
            <td class="hidden-sm hidden-xs">[[ task.owner.username ]]</td>
            <td class="hidden-xs"><span ng-if="task.assigned">[[ task.assigned.username ]]</span></td>
            <td class="hidden-xs">
                <div ng-if="task.sprint.name != 'none'">
                    <a ng-href="[[task.sprintHref]]">
                        [[task.sprint.name]]
                    </a>
                </div>
                <div ng-if="task.sprint.name == 'none'">none</div>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="left:-100px !important;">

                        <li ng-if="isOvner || enableAddSubtaskBug(task)">
                            <a data-toggle="modal" data-target="#add_new_subtask" ng-click="addParentIdToSubTask(task)" style="cursor: pointer"><i class="fa fa-code-fork"></i> Add new subtask</a>
                        </li>



                        <li ng-if="(task.sprint.name == 'none') && (task.status.label == 'todo') && ((task.estimatedHours > 0) || (task.estimatedMinutes > 0))">
                            <a  data-toggle="modal" data-target="#add_task_to_sprint" ng-click="taskModel.id = task.id" style="cursor: pointer"><i class="fa fa-stack-overflow"></i> Add task to sprint</a>
                        </li>
                        <li ng-if="task.sprint.name != 'none'">
                            <a ng-click="detachTaskFromSprint(task);" style="cursor: pointer;">
                                <i class="fa fa-stack-overflow"></i>
                                Detach task from sprint
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a data-toggle="modal" data-target="#delete_task" ng-click="addDeleteTaskId(task.id)" style="cursor: pointer"><span class="text-danger"><i class="fa fa-trash"></i> Delete task</span></a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr ng-show="parentTask.expand" class="angular-show-transition-2-ms" ng-repeat="task in task.subtasks track by $index">
            <td style="font-size: 10px;">
            <span style="vertical-align: middle;">
                [[ parentTask.id ]].[[ $index + 1 ]]
            </span>
            </td>
            <td class="hidden-sm hidden-xs">
                <span ng-if="task.type.label == 'task'" class="badge" style="background-color: #5cb85c; font-size: 10px;">[['t']]</span>
                <span ng-if="task.type.label == 'bug'" class="badge" style="background-color: #d9534f; font-size: 10px;">[['b']]</span>
                <span ng-if="task.type.label == 'improvement'" class="badge" style="background-color: #337ab7; font-size: 10px;">[['i']]</span>
            </td>
            <td>
                <a ng-href="[[ task.href ]]"
                   data-toggle="popover"
                   data-placement="top"
                   data-content="[[ task.description.substr(0, 250); ]]">
                    <span class="badge" style="background-color: blueviolet;" ng-if="task.newCommentsCount">[[task.newCommentsCount]]</span>
                    <span>[[ task.name ]]</span>
                </a>
            </td>
            <td class="hidden-sm hidden-xs">
                <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                    [[ task.priority.label ]]
                </div>
            </td>
            <td class="hidden-xs">

                <select ng-if="task.showStatusLabel" ng-blur="changeStatus(task); task.showStatusLabel = false;" ng-model="task.status.selected" style="border: none;font-weight: bold;">
                    <option ng-repeat="status in taskStatuses | statusFilter: task : tasks : isOvner : USER_ID"
                            style="color: [[ status.color ]]" value="[[ status.id ]]" ng-selected="status.id == task.status.id">
                        [[status.label]]
                    </option>
                </select>

                <div ng-class="{'classHoverStatus': NeedClassHover(task)}" ng-if="!task.showStatusLabel" ng-click="task.showStatusLabel = clickOnStatus(task.showStatusLabel)" class="label label-default" style="background-color: [[ task.status.color ]];">
                    [[ task.status.label ]]
                </div>
            </td>
            <td class="hidden-xs">[[ task.progress ]]%</td>
            <td class="hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
            <td class="hidden-sm hidden-xs">[[ task.owner.username ]]</td>
            <td class="hidden-xs"><span ng-if="task.assigned">[[ task.assigned.username ]]</span></td>
            <td></td>
            <td>
                <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete_task" href="#"
                   ng-click="addDeleteTaskId(task.id)" style="width: 22px; height: 22px;">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<div class="row">
    <div class="col-xs-12">
        <div >
            <paginator from="tablePages.from"
                       to="tablePages.to"
                       total="tasks.length"
                       items-per-page="tablePages.itemsPerPage">
            </paginator>
        </div>
    </div>
</div>