<div class="col-sm-6 col-md-3">
    <h4>Stories </h4>
    <div class="list-group">
        <span ng-repeat="task in tasks">
            <a class="list-group-item"
                ng-class="{'local-red': task.priority == 'high',
                'local-yellow': task.priority == 'medium',
                'local-green': task.priority == 'low'}"
                style="margin-bottom: 5px;" href="#" ng-if="task.statusid == 1 ||
                task.statusid == 2 || task.statusid == 3 || task.statusid == 4  || task.statusid == 18 ||
                task.statusid == 19 || task.statusid == 20 || task.statusid == 21 || task.statusid == 22 ||
                task.statusid == 23 || task.statusid == 24 || task.statusid == 25">

                <h4 class="list-group-item-heading">
                    <span style="color: black;">[[task.id]]&nbsp;</span>
                    [[task.name]]
                </h4>
                <p class="list-group-item-text">
                    [[task.description]]
                </p>
                <p style="padding-top:5px;">
                    <span class="label label-info"  style="float:left;">[[task.newCommentsCount]]</span>
                    <img class="img-circle" alt="Avatar" ng-src="[[asset]]/documents/[[task.user.avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                </p>
            </a>
            <a class="list-group-item"
               ng-class="{'local-red': task.priority == 'high',
                'local-yellow': task.priority == 'medium',
                'local-green': task.priority == 'low'}"
               style="margin-bottom: 5px;" ng-repeat="subtask in task.subtasks" href="#" ng-if="subtask.statusid == 1 ||
                subtask.statusid == 2 || subtask.statusid == 3 || subtask.statusid == 4  || subtask.statusid == 18 ||
                subtask.statusid == 19 || subtask.statusid == 20 || subtask.statusid == 21 || subtask.statusid == 22 ||
                subtask.statusid == 23 || subtask.statusid == 24 || subtask.statusid == 25">

                <h4 class="list-group-item-heading">
                    <span style="color: black;">[[task.id]].[[$index+1]]&nbsp;</span>
                    [[subtask.name]]
                </h4>
                <p class="list-group-item-text">
                    [[subtask.description]]
                </p>
                <p style="padding-top:5px;">
                    <span class="label label-info"  style="float:left;">[[subtask.newCommentsCount]]</span>
                    <img class="img-circle" alt="Avatar" ng-src="[[asset]]/documents/[[subtask.user.avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                </p>
            </a>
        </span>
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <h4>To do </h4>
    <div class="list-group" >
        <a class="list-group-item local-red"
           ng-class="{'local-red': task.priority == 'high',
            'local-yellow': task.priority == 'medium',
            'local-green': task.priority == 'low'}"
            style="margin-bottom: 5px;" ng-repeat="task in tasks" href="#" ng-if="
            task.statusid == 5 || task.statusid == 6">

            <h4 class="list-group-item-heading">
                <i class="fa fa-arrow-up" style="float:left; color:#ce4844;"></i>
                [[task.name]]
            </h4>
            <p class="list-group-item-text">
                [[task.description]]
            </p>
            <p style="padding-top:5px;">
                <span class="label label-info" style="float:left;">[[task.newCommentsCount]]</span>
                <img class="img-circle" alt="Avatar" ng-src="[[asset]]/documents/[[task.user.avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
            </p>
        </a>
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <h4>In progress</h4>
    <div class="list-group" >
        <a class="list-group-item local-red"
            ng-class="{'local-red': task.priority == 'high',
            'local-yellow': task.priority == 'medium',
            'local-green': task.priority == 'low'}"
            style="margin-bottom: 5px;" ng-repeat="task in tasks" href="#" ng-if="task.statusid == 7 ||
            task.statusid == 8 || task.statusid == 9 || task.statusid == 10 || task.statusid == 11 ||
            task.statusid == 12 || task.statusid == 13">
            <h4 class="list-group-item-heading">
                <i class="fa fa-arrow-up" style="float:left; color:#ce4844;"></i>
                [[task.name]]
            </h4>
            <p class="list-group-item-text">
                [[task.description]]
            </p>
            <p style="padding-top:5px;">
                <span class="label label-info" style="float:left;">[[task.newCommentsCount]]</span>
                <img class="img-circle" alt="Avatar" ng-src="[[asset]]/documents/[[task.user.avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
            </p>
        </a>
    </div>
</div>

<div class="col-sm-6 col-md-3">
    <h4>Done</h4>

    <div class="list-group">
        <a class="list-group-item local-red"
            ng-class="{'local-red': task.priority == 'high',
            'local-yellow': task.priority == 'medium',
            'local-green': task.priority == 'low'}"
            style="margin-bottom: 5px;" ng-repeat="task in tasks" href="#" ng-if="task.statusid == 14 || task.statusid == 15">
            <h4 class="list-group-item-heading">
                <i class="fa fa-arrow-up" style="float:left; color:#ce4844;"></i>
                [[task.name]]
            </h4>
            <p class="list-group-item-text">
                [[task.description]]
            </p>
            <p style="padding-top:5px;">
                <span class="label label-info" style="float:left;">[[task.newCommentsCount]]</span>
                <img class="img-circle" alt="Avatar" ng-src="[[asset]]/documents/[[task.user.avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
            </p>
        </a>
    </div>
</div>