<div ng-if="(tasks == null) || (tasks.length == 0)" class="center-block vertical-center">
    <h3 class="text-info text-center">Tasks will be displayed here</h3>
</div>

<table ng-if="(tasks) && (tasks.length > 0)" class="table">
    <thead>
    <tr>
        <th class="col-xs-1">ID</th>
        <th class="hidden-sm hidden-xs">Type</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Priority</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Status</th>
        <th class="col-xs-1 hidden-xs">Progress</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Estimated</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Start Date</th>
        <th class="col-xs-1 hidden-sm hidden-xs">End Date</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Owner</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Assigned</th>
        <th class="col-xs-1 hidden-xs">Sprint</th>
        <th class="col-xs-1">Fun</th>
    </tr>
    </thead>

    <tbody ng-repeat="task in tasks | orderBy: tasksOrderBy | filter: execTaskFilter"
           ng-init="parentTask = task">
    <tr ng-if="task.parentid == null">
        <td class="col-xs-1" style="font-size: 10px;">
            <span style="vertical-align: middle;">
                [[ task.id ]]
            </span>
        </td>

        <td class="hidden-sm hidden-xs">
            <span ng-if="task.type.label == 'task'" class="badge" style="background-color: #5cb85c; font-size: 10px;">[['t']]</span>
            <span ng-if="task.type.label == 'bug'" class="badge" style="background-color: #d9534f; font-size: 10px;">[['b']]</span>
            <span ng-if="task.type.label == 'improvement'" class="badge" style="background-color: #337ab7; font-size: 10px;">[['i']]</span>
        </td>

        <td class="col-xs-3">
            <a ng-show="task.subtasks.length > 0" ng-click="task.expand = !task.expand" style="text-decoration: none; cursor: pointer;">
                <i ng-hide="task.expand" class="fa fa-plus"></i>
                <i ng-show="task.expand" class="fa fa-minus"></i>
            </a>
            <a ng-init="taskHref = assignTaskHref(task.id)" ng-href="[[taskHref]]">
                <span class="badge" style="background-color: blueviolet;" ng-if="task.newCommentsCount">[[task.newCommentsCount]]</span>
                <span class="badge" style="background-color: cadetblue;" ng-if="(task.newSubCommentsCount) && (!task.expand)">[[task.newSubCommentsCount]]</span>
                <span>[[ task.name ]]</span>
            </a>
        </td>
        <td class="col-xs-1 hidden-sm hidden-xs">
            <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                [[ task.priority.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">

            <select ng-if="(task.subtasks.length == 0) && (task.showStatusLabel)" ng-blur="changeStatus(task); task.showStatusLabel = false;" ng-model="task.status.selected" style="border: none;font-weight: bold;">
                <option ng-repeat="status in taskStatuses"
                        style="color: [[ status.color ]]" value="[[ status.id ]]" ng-selected="status.id == task.status.id">
                    [[status.label]]
                </option>
            </select>

            <div ng-class="{'classHoverStatus': NeedClassHover(task)}" ng-if="!task.showStatusLabel" ng-click="task.showStatusLabel = clickOnStatus(task.showStatusLabel)" class="label label-default" style="background-color: [[ task.status.color ]];">
                [[ task.status.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">[[ task.progress ]]%</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.startDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.endDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.owner.username ]]</td>
        <td class="col-xs-1 hidden-xs"><span ng-if="task.assigned">[[ task.assigned.username ]]</span></td>
        <td class="col-xs-1 hidden-xs">
            <div ng-if="task.sprint.name != 'none'">
                <a ng-init="task.sprint.href = assignSprintHref(task.sprint.officeid, task.sprint.id)"
                   ng-href="[[task.sprint.href]]">
                    [[task.sprint.name]]
                </a>
            </div>
            <div ng-if="task.sprint.name == 'none'">none</div>
        </td>
        <td class="col-xs-1">

            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu" style="left:-100px !important;">
                    <li>
                        <a data-toggle="modal" data-target="#add_new_subtask" ng-click="addParentIdToSubTask(task.id)" style="cursor: pointer"><i class="fa fa-code-fork"></i> Add new subtask</a>
                    </li>
                    <li ng-if="task.sprint.name == 'none'">
                        <a  data-toggle="modal" data-target="#add_task_to_sprint" ng-click="taskModel.id = task.id" style="cursor: pointer"><i class="fa fa-stack-overflow"></i> Add task to sprint</a>
                    </li>
                    <li ng-if="task.sprint.name != 'none'">
                        <a ng-click="detachTaskFromSprint(task);" style="cursor: pointer;">
                            <i class="fa fa-stack-overflow"></i>
                            Detach task from sprint
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a data-toggle="modal" data-target="#delete_task" ng-click="addDeleteTaskId(task.id)" style="cursor: pointer"><span class="text-danger"><i class="fa fa-trash"></i> Delete task</span></a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>

    <tr ng-show="parentTask.expand" class="angular-show-transition-2-ms" ng-repeat="task in task.subtasks">
        <td class="col-xs-1" style="font-size: 10px;">
            <span style="vertical-align: middle;">
                [[ parentTask.id ]].[[ $index + 1 ]]
            </span>
        </td>
        <td class="hidden-sm hidden-xs">
            <span ng-if="task.type.label == 'task'" class="badge" style="background-color: #5cb85c; font-size: 10px;">[['t']]</span>
            <span ng-if="task.type.label == 'bug'" class="badge" style="background-color: #d9534f; font-size: 10px;">[['b']]</span>
            <span ng-if="task.type.label == 'improvement'" class="badge" style="background-color: #337ab7; font-size: 10px;">[['i']]</span>
        </td>
        <td class="col-xs-3">
            <a ng-init="taskHref = assignTaskHref(task.id)" ng-href="[[taskHref]]">
                <span class="badge" style="background-color: blueviolet;" ng-if="task.newCommentsCount">[[task.newCommentsCount]]</span>
                <span>[[ task.name ]]</span>
            </a>
        </td>
        <td class="col-xs-1 hidden-sm hidden-xs">
            <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                [[ task.priority.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">

            <select ng-if="task.showStatusLabel" ng-blur="changeStatus(task); task.showStatusLabel = false;" ng-model="task.status.selected" style="border: none;font-weight: bold;">
                <option ng-repeat="status in taskStatuses"
                        style="color: [[ status.color ]]" value="[[ status.id ]]" ng-selected="status.id == task.status.id">
                    [[status.label]]
                </option>
            </select>

            <div ng-class="{'classHoverStatus': NeedClassHover(task)}" ng-if="!task.showStatusLabel" ng-click="task.showStatusLabel = clickOnStatus(task.showStatusLabel)" class="label label-default" style="background-color: [[ task.status.color ]];">
                [[ task.status.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">[[ task.progress ]]%</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.startDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.endDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.owner.username ]]</td>
        <td class="col-xs-1 hidden-xs"><span ng-if="task.assigned">[[ task.assigned.username ]]</span></td>
        <td></td>

        <td class="col-xs-1">
            <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete_task" href="#"
               ng-click="addDeleteTaskId(task.id)" style="width: 22px; height: 22px;">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
