<div class="col-md-12">
    <div class="row">

        <div class="col-md-3">
            <div class="page-header text-center">Story</div>

            <div class="list-group">
                <div class="row" ng-repeat="task in tasks">
                    <div class="col-md-12" ng-if="task.parentid == null" ng-init="parentTask = task">
                        <span ng-if="task.status.label == 'story'">
                            <a class="list-group-item" style="margin-bottom: 5px;"
                               ng-class="{
                                    'local-red': task.priority.id == 3,
                                    'local-yellow': task.priority.id == 2,
                                    'local-green': task.priority.id == 1
                                    }">
                               <h4 class="list-group-item-heading">

                                    [[ task.name ]]
                               </h4>
                               <p class="list-group-item-text">
                                   [[ task.description ]]
                               </p>
                               <p style="padding-top:5px;" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)">
                                   <span class="label label-info" style="float:left;">0</span>
                                   <img class="img-circle" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                               </p>
                            </a>
                        </span>
                        <span ng-repeat="task in task.subtasks">
                            <a ng-if="task.status.label == 'story'" class="list-group-item"
                               ng-class="{
                                    'local-red': task.priority.id == 3,
                                                                'local-yellow': task.priority.id == 2,
                                                                'local-green': task.priority.id == 1
                                                                }" style="margin-bottom: 5px;">
                               <h4 class="list-group-item-heading">
                                   <span style="color: black;">
                                        [[ parentTask.id ]].[[ $index + 1 ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                        &nbsp;
                                   </span>
                                   [[ task.name ]]
                               </h4>
                               <p class="list-group-item-text">
                                   [[ task.description ]]
                               </p>
                               <p style="padding-top:5px;">
                                    <span class="label label-info" style="float:left;">0</span>
                                    <img ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)" class="img-circle" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                                    <span ng-if="(task.assigned != null) && (task.assigned.avatar)"><img ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.assigned.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;"></span>
                               </p>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="page-header text-center">Todo</div>

            <div class="row" ng-repeat="task in tasks">
                <div class="col-md-12" ng-if="task.parentid == null" ng-init="parentTask = task">
                    <div ng-if="task.status.label == 'todo'">
                        <a class="list-group-item" style="margin-bottom: 5px;"
                           ng-class="{
                                'local-red': task.priority.id == 3,
                                'local-yellow': task.priority.id == 2,
                                'local-green': task.priority.id == 1 }">
                            <h4 class="list-group-item-heading">
                                <span style="color: black;">
                                    [[ task.id ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                    &nbsp;
                                </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)">
                                <span class="label label-info" style="float:left;">0</span>
                                <img class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>
                    <div ng-repeat="task in task.subtasks">
                        <a ng-if="task.status.label == 'todo'" class="list-group-item"
                           ng-class="{
                                'local-red': task.priority.id == 3,
                                'local-yellow': task.priority.id == 2,
                                'local-green': task.priority.id == 1
                                }" style="margin-bottom: 5px;">
                            <h4 class="list-group-item-heading">
                                <span style="color: black;">
                                    [[ parentTask.id ]].[[ $index + 1 ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                    &nbsp;
                                </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;">
                                <span class="label label-info" style="float:left;">0</span>
                                <img ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                                <img ng-if="task.assigned != null" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.assigned.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="page-header text-center">In-progress</div>

            <div class="row" ng-repeat="task in tasks">
                <div class="col-md-12" ng-if="task.parentid == null" ng-init="parentTask = task">
                    <div ng-if="task.status.label == 'in-progress'">
                        <a class="list-group-item" style="margin-bottom: 5px;"
                           ng-class="{
                                                               'local-red': task.priority.id == 3,
                                                               'local-yellow': task.priority.id == 2,
                                                               'local-green': task.priority.id == 1 }">
                            <h4 class="list-group-item-heading">
                            <span style="color: black;">
                                [[ task.id ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                &nbsp;
                            </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)">
                                <span class="label label-info" style="float:left;">0</span>
                                <img class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>

                    <div ng-repeat="task in task.subtasks">
                        <a ng-if="task.status.label == 'in-progress'" class="list-group-item"
                           ng-class="{
                                'local-red': task.priority.id == 3,
                                'local-yellow': task.priority.id == 2,
                                'local-green': task.priority.id == 1
                                }" style="margin-bottom: 5px;">
                            <h4 class="list-group-item-heading">
                                <span style="color: black;">
                                    [[ parentTask.id ]].[[ $index + 1 ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                    &nbsp;
                                </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;">
                                <span class="label label-info" style="float:left;">0</span>
                                <img ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                                <img ng-if="task.assigned != null" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.assigned.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="page-header text-center">Done</div>

            <div class="row" ng-repeat="task in tasks">
                <div class="col-md-12" ng-if="task.parentid == null" ng-init="parentTask = task">
                    <div ng-if="task.status.label == 'done'">
                        <a class="list-group-item" style="margin-bottom: 5px;"
                           ng-class="{
                                'local-red': task.priority.id == 3,
                                'local-yellow': task.priority.id == 2,
                                'local-green': task.priority.id == 1 }">
                            <h4 class="list-group-item-heading">
                                <span style="color: black;">
                                    [[ task.id ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                    &nbsp;
                                </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)">
                                <span class="label label-info" style="float:left;">0</span>
                                <img class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>

                    <div ng-repeat="task in task.subtasks">
                        <a ng-if="task.status.label == 'done'" class="list-group-item"
                           ng-class="{
                                'local-red': task.priority.id == 3,
                                'local-yellow': task.priority.id == 2,
                                'local-green': task.priority.id == 1
                                }" style="margin-bottom: 5px;">
                            <h4 class="list-group-item-heading">
                                <span style="color: black;">
                                    [[ parentTask.id ]].[[ $index + 1 ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
                                    &nbsp;
                                </span>
                                [[ task.name ]]
                            </h4>
                            <p class="list-group-item-text">
                                [[ task.description ]]
                            </p>
                            <p style="padding-top:5px;">
                                <span class="label label-info" style="float:left;">0</span>
                                <img ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.owner.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                                <img ng-if="task.assigned != null" ng-init="avatar = generateAsset(urlAsset, 'documents/' + task.assigned.avatar)" class="img-circle" src="#" ng-src="[[avatar]]" style="width: 15px; height: 15px; float:left; margin-left:5px;">
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
