<div ng-if="(tasks == null) || (tasks.length == 0)" class="center-block vertical-center">
    <h3 class="text-info text-center">Tasks will be displayed here</h3>
</div>
<table ng-if="(tasks) && (tasks.length > 0)" class="table">
    <thead>
    <tr>
        <th class="col-xs-1">ID</th>
        <th class="col-xs-1">Name</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Priority</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Status</th>
        <th class="col-xs-1 hidden-xs">Progress</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Estimated</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Start Date</th>
        <th class="col-xs-1 hidden-sm hidden-xs">End Date</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Owner</th>
        <th class="col-xs-1 hidden-sm hidden-xs">Assigned</th>
    </tr>
    </thead>

    <tbody ng-repeat="task in tasks" ng-init="task.expand = false; parentTask = task">
    <tr ng-if="task.parentid == null">
        <td class="col-xs-1">
            [[ task.id ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
        </td>
        <td class="col-xs-3">
            <a ng-show="task.subtasks.length > 0" ng-click="task.expand = !task.expand" style="text-decoration: none; cursor: pointer;">
                <i ng-hide="task.expand" class="fa fa-plus"></i>
                <i ng-show="task.expand" class="fa fa-minus"></i>
            </a>
            <a ng-href="[[task.href]]">[[ task.name ]]</a>
        </td>
        <td class="col-xs-1 hidden-sm hidden-xs">
            <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                [[ task.priority.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">
            <div class="label label-default" style="background-color: [[ task.status.color ]];">
                [[ task.status.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">[[ task.progress ]]%</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.startDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.endDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.owner.name + ' ' + task.owner.surname ]]</td>
        <td class="col-xs-1 hidden-xs">
            <span ng-if="task.assigned">
                [[ task.assigned.name + ' ' + task.assigned.surname ]]
            </span>
        </td>
    </tr>

    <tr ng-show="parentTask.expand" class="angular-show-transition-2-ms" ng-repeat="task in task.subtasks">
        <td class="col-xs-1">
            [[ parentTask.id ]].[[ $index + 1 ]]<span ng-if="task.type.label == 'bug'">[['.B']]</span><span ng-if="task.type.label == 'improvement'">[['.I']]</span>
        </td>
        <td class="col-xs-3">
            <a ng-href="[[task.href]]">[[ task.name ]]</a>
        </td>
        <td class="col-xs-1 hidden-sm hidden-xs">
            <div class="label label-default" style="background-color: [[ task.priority.color ]];">
                [[ task.priority.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">
            <div class="label label-default" style="background-color: [[ task.status.color ]];">
                [[ task.status.label ]]
            </div>
        </td>
        <td class="col-xs-1 hidden-xs">[[ task.progress ]]%</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.estimatedHours + ' h ' + task.estimatedMinutes + ' m' ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.startDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.endDate ]]</td>
        <td class="col-xs-1 hidden-sm hidden-xs">[[ task.owner.name + ' ' + task.owner.surname ]]</td>
        <td class="col-xs-1 hidden-xs">
            <span ng-if="task.assigned">
                [[ task.assigned.name + ' ' + task.assigned.surname ]]
            </span>
        </td>
    </tr>
    </tbody>
</table>