<div class="row" style="padding: 8px;">
    <div class="col-xs-12">

        <div class="btn-group" align="center">
            <div class="btn-group">

            </div>

            <div class="btn-group">

            </div>

        </div>
    </div>
</div>

