{% extends '@Zectranet/index.html.twig' %}

{% block title %}{{ task.name }}{% endblock %}

{% block body %}
    <div ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    Offices
                </div>

                <div class="page-header">
                    Projects
                </div>
            </div>
        </div>
    </div>
{% endblock %}