{% extends 'ZectranetBundle::layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('bundles/zectranet/css/resetPassword.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form class="classForm" method="post" action="{{ path('zectranet_reset_password_save', {'userid': userid }) }}">
        <div class="containerForContent">
            {% if messageError is defined %}
                <div class="alert alert-warning alert-dismissible fade in" role="alert" style="margin-right: 30px;">
                    <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ messageError }}
                </div>
            {% endif %}

            <div class="form-group">
                <span class="textUp">New Password</span>
                <input type="password" name="newPassword" class="form-control" pattern="[A-Za-z-0-9]{4,20}" required>
            </div>
            <div class="form-group">
                <span class="textUp">Repeat new Password</span>
                <input type="password" name="repeatNewPassword" class="form-control" pattern="[A-Za-z-0-9]{4,20}" required>
            </div>
            <div class="buttonSend">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form>
{% endblock %}