{% extends '@Zectranet/index.html.twig' %}

{% block title %}Search Page{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- PLACE YOUR PAGE HERE -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
