{% extends '@Zectranet/index.html.twig' %}

{% block title %}Search Page{% endblock %}

{% block body %}

    {#<div class="row">
        <ol class="breadcrumb" style="margin: 0 -30px; border-radius: 0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li>
                <a href="#">Hello men</a>
            </li>
            <li class="active">
                Hello
            </li>
        </ol>
    </div>#}

    <div ng-controller="SearchController">
        <div class="row" {% if slug %}ng-init="searchInput = '{{ slug }}'; InputChange('{{ slug }}', true);"{% endif %}>
            <div class="col-md-12">
                <h2 class="page-header" style="margin-top:15px; font-family: 'PT Sans Narrow', sans-serif">Search results</h2>
            </div>

            <div class="col-md-12">
                <div class="input-group" style="margin-bottom: 15px;">
                    <input type="text" class="form-control"
                           ng-model="searchInput"
                           ng-change="InputChange(searchInput, true);"
                           placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                </div>

                <div cg-busy="searhPromise">
                    <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.homeOffice">
                        <a ng-href="[[ item.href ]]" target="_self">
                            <h2></h2>
                            <span class="text-muted">[[ item.message ]]</span>

                            <span class="clearfix"></span>
                            <div class="pull-right">
                                <i class="text-muted" style="font-size: 10px;">home office chat</i>
                            </div>
                            <span class="clearfix"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
