{% extends '@Zectranet/index.html.twig' %}

{% block title %}Search Page{% endblock %}

{% block body %}
    <div ng-controller="SearchController">
        <div class="row" {% if slug %}ng-init="searchInput = '{{ slug }}'; InputChange('{{ slug }}', true);"{% endif %}>
            <div class="col-md-12">
                <h2 class="page-header" style="margin-top:15px; font-family: 'PT Sans Narrow', sans-serif">Search results</h2>
            </div>

            <div class="col-md-12">
                <div class="input-group" style="margin-bottom: 15px;">
                    <input type="text" class="form-control"
                           ng-model="searchInput"
                           ng-change="InputChange(searchInput, true);"
                           placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                </div>

                <div cg-busy="searhPromise">
                    <div ng-if="miniSearchResults.total == 0" class="list-group-item">
                        <h5 class="text-info" align="center">Search for <i>[[ searchInput ]]</i>...</h5>
                    </div>
                    <div ng-if="miniSearchResults.total == -1" class="list-group-item">
                        <h5 class="text-info" align="center">Didn't found any match</h5>
                    </div>
                    <div ng-if="miniSearchResults.total > 0">
                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.homeOffice">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">home office chat</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.HFForums.forums">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.name ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Header forums</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.HFForums.threads">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <h2>[[ item.title ]]</h2>
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Header forum threads</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.HFForums.posts">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Header forum threads</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.QnAForums.forums">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.name ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">QnA Forums</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.QnAForums.threads">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <h2>[[ item.title ]]</h2>
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">QnA forum threads</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.QnAForums.posts">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">QnA forum posts</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.Projects.tasks">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <h2 ng-init="task_id = (item.subindex) ? item.id + '.' + item.subindex : item.id">
                                    #[[ task_id ]]
                                    [[ ' ' + item.name ]]
                                </h2>
                                <span class="text-muted">[[ item.description.substr(0, 250) ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Development tasks</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.Projects.taskPosts">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Development task posts</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.Projects.posts">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.message ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Development project posts</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                        <div class="col-md-12 search-result-main" ng-repeat="item in miniSearchResults.Projects.projects">
                            <a ng-href="[[ item.href ]]" target="_self">
                                <span class="text-muted">[[ item.name ]]</span>

                                <span class="clearfix"></span>
                                <div class="pull-right">
                                    <i class="text-muted" style="font-size: 10px;">Projects</i>
                                </div>
                                <span class="clearfix"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
