{% extends '@Zectranet/index.html.twig' %}

{% block title %}Search Page{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <ol class="breadcrumb" style="margin: 0 -30px; border-radius: 0 !important; padding: 12px 50px; background-color: #fbfbfb; ">
            <li>
                <a href="#">Hello men</a>
            </li>
            <li class="active">
                Hello
            </li>
        </ol>
    </div>

    <div class="row" {% if slug %}ng-init="InputChange('{{ slug }}');"{% endif %}>
        <div class="col-md-12">
            <h2 class="page-header" style="margin-top:15px; font-family: 'PT Sans Narrow', sans-serif">Search result</h2>
        </div>

        <div class="col-md-12 search-result-main">
            <h2><a href="#">Hello world this is the </a></h2>
            <span class="text-muted">Hello world you know what dose mean</span>
        </div>

        <div class="col-md-12 search-result-main">
            <h2><a href="#">Hello world this is the </a></h2>
            <span class="text-muted">Hello world you know what dose mean</span>
        </div>

        <div class="col-md-12 search-result-main">
            <h2><a href="#">Hello world this is the </a></h2>
            <span class="text-muted">Hello world you know what dose mean</span>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
